## Create virtual environment first

# conda env list

# conda create -n ai23 python=3.10.12

# conda env remove -n ai23  To remove virtual environment

# pip install -r 10-10-requirement-2023.txt
# or pip install -r .\10-10-requirement-2023.txt

# pip install xxx       Install the latest version
# pip install xxx==1.65 Install a specific version of package
# pip install xxx -U    Update to latest version
# pip uninstall xxx     Uninstall package

#Jupyter notebook
jupyter
jupyterlab

# Data analysis
scikit-learn
pandas

# Excel related
openpyxl
xlrd

#plot chart
bokeh
seaborn
plotly
matplotlib

#Website
django
django-cors-headers
django-apscheduler

# VS code IDE tools
pylint
autopep8
yapf
djlint

# database
SQLAlchemy
PyMySQL

#Job schedule
schedule

# Crawler and text processing
beautifulsoup4
requests
selenium
nltk
spacy
wordcloud
fake_useragent

# Chinese word segmentation
ckiptagger[tf,gdown]
ckip-transformers
jieba

# Conversion between simplified and traditional Chinese
opencc-python-reimplemented

#google gdown
gdown


# Tensorflow Deep learning
tensorflow
tensorflow_datasets
tensorflow-text
# tensorflow-text 2.10.0 requires tensorflow<2.11,>=2.10.0

pyyaml
pydot
## Install Torch Stable (2.0)
# https://pytorch.org/
torch


#NLP transformers
transformers
datasets
safetensors